
.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 5rem;
    text-decoration: none;
    color: black;
}

.button p {
    font-size: 12px;
}

.avatar{
    height: 25px !important;
    width: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.caption{
    display: flex;
    align-items: center;
}