
.container {
    width: 100%;
    background-color: white;
    padding: 0 1rem;
}



.buttons {
    display: flex;
}

.buttons button {
    padding: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
}

.buttons button:hover {
    background: rgba(0, 0, 0, 0.05);
}