
.button1 {
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 300;

}

.button2 {
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 300;
}

.container{
    width:32rem;
    margin-top: 6rem;
    height: fit-content;
    padding: 2.5rem
}

.title{
    font-size: 2.5rem;
    font-weight: bolder;
}

.subtitle{
    display: flex;
    gap: 10px;
    color: #404040;
    margin: 1rem 0;

}

.authButton{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.submit {
    padding: 1rem 1rem;
    font-size: 1.1rem;
    background-color:#0a66c2;
    color : white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bolder;
    width: 100%;
}
.submit:hover {
    background-color: #004182;
}

.input {
    margin-top: 1rem;
}

.divider{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    text-align: center;
    align-items: center;
}

.blue {
    margin: 1.7rem  0 !important;
    font-weight:bolder !important; 
    font-size: 1.2rem;
    color:#0a66c2
}

.label {
    margin-bottom: 1rem;
    color:#857d77;
    font-size:1.1rem !important;
}

.checkbox{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}
.check_button{
    margin: 0 !important;
    padding: 0 !important;
}