
.container {
    width: 85%;
    padding: 1rem;
    border-radius: 10px;
}

.option {
    display: flex;
    gap: 0.5rem;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}

.blue {
    color: #0a66c2;
}