
.container {
    padding : 1.2rem
}
.write_icon{
    border-radius: 100%;
    border : 2px solid black;
    width: fit-content;
    padding: 0.5rem;
    margin:1rem;
}

.header{
    display: flex;
    align-items: center;
}

.title {
    font-weight: bolder !important;
}

.showAll{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}